@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #acbda1;
}


.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

