@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #acbda1;
}


.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-grid {
    --gap: 4px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-grid > a {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
    }
}
