<!doctype html>
<html lang="en">

<head>
    <title>mictakepic homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1 class="centered"> {{ .share }} </h1>

    {{ if .images }}
        <div class="image-grid">
        {{ range .images }}
            <img src="/Shares/{{$.share}}/{{.}}" class="image-grid-item">
        {{ end }}
        </div>
    {{ end }}

</body>

</html>
