<!DOCTYPE html>
<html lang="en">

<head>
    <title>mictakepic Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {{if .username}}
        <h2 class="centered">{{.username}} has logged in</h2>
    {{end}}


    {{ if .Shares }}
        {{ range .Shares }}
            <form action="/users/getImages$share={{.}}" method="GET">
                <input type="submit" value="List Images on {{.}} Share">
            </form>
        {{ end }}
    {{ end }}

    {{ if .adminStatus }}
        <form action="/users/createUser" method="GET">
            <input type="submit" value="Create New User">
        </form>
    {{ end }}
    
</body>

</html>
